//Оформление стиля ссылки-кнопки
@mixin link-style($color, $background)
    display: inline-block
    position: relative
    text-transform: uppercase 
    text-decoration: none
    cursor: pointer
    background: $background
    color: $color
