//Цвет фона
$color-white: #FFFFFF

//Цвет текста
$color-grey: #777777

//Цвет контейнера
$color-grey-light: #F7F7F7

//Цвета проекта
$color-brown-light: #BA8554
$color-brown-dark: #A14F03
$color-black: #000000

//Цвет тени
$box-shadow: 0rem .8rem .8rem 0rem rgba(0, 0, 0, 0.20)
