//Форма заказа тура

//Контейнер с резким острым градиентом
.book
    height: 50rem
    background: linear-gradient(112deg, rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 68%, rgba($color-brown-light, 0.3) 68%, rgba($color-brown-dark, 0.3) 100%), url(../img/girl.jpg) center / cover no-repeat
    box-shadow: $box-shadow
    border-radius: .5rem
    @include respond(tab-port)
        height: 56rem


    //Форма с полями ввода
.form
    width: 80%
    padding: 5rem 
    @include respond(tab-port)
       width: 100%
        padding: 2.4rem 0 0 2.4rem
    &__group:not(:last-child)
        margin-bottom: 2.4rem
    &__group:nth-child(4)
        margin-bottom: 4rem
    @include respond(tab-land)
       &__group:not(:last-child)
            margin-bottom: .8rem
       &__group:nth-child(4)
            margin-bottom: 4.8rem

    //Лейбл, спрятанный и выезжающий из под поля ввода
    &__label
        font-size: $font-size-paragraph
        letter-spacing: .2rem
        font-weight: 400
        color: $color-black
        display: block //чтобы текст ушел под инпут
        padding: .1rem 0 0 1.6rem
        transform: translateY(1rem)
        transition: all .3s ease    
    
    //Инпуы
    &__input
        width: 68%
        background: $color-white
        font-size: $font-size-paragraph
        letter-spacing: .2rem
        font-weight: 400
        color: $color-black
        padding: 2rem 0 2rem 2rem
        border: none
        border-bottom: .3rem solid transparent
        border-radius: .5rem
        box-shadow: $box-shadow-input
        &:focus
            outline: none //Убираем авто-рамку при клике в инпут
            border-bottom: .2rem solid $color-brown-light
            box-shadow: $box-shadow-light
        &:valid
            border-bottom: .3rem solid $color-green //Если правильно - остается зеленым
        &:focus:invalid //И под фокусом, И невалидное
            border-bottom: .3rem solid $color-red //Пока заполняеся - касное

    //Выплываеюцая строчка при заполнении инпута (обычно через JS)
    //Через "+" обращаемся к ПЕРВОМУ СОСЕДНЕМУ, а не дочернему элементу
    &__input:placeholder-shown + &__label //Пока показывается надпись в плейсхолдере
        opacity: 0
        visibility: 0
        transform: translateY(-1rem)

    //Радио-кнопки со спанами
    &__group-radio
        display: inline-block
        padding-left: 3rem                        
    &__input-radio
        margin-right: .8rem
        display: none
    //Окрашиваем в коричневый маленький кружок радио-кнопки при выборе
    &__input-radio:checked + &__label-radio > &__button-radio //Когда сам Checked выбираем соседний label и его дочерний span
        background-color: $color-brown-light
        transition: all .2s
    &__label-radio //Позиционируем label, внутри которой span  
        position: relative      
        cursor: pointer
        &:not(:last-child)
            padding-right: 8rem 
        @include respond(tab-land)
            display: block
            &:not(:last-child)                
                margin-bottom: 2rem        
    &__button-radio //Это span - большой кружок радио-кнопки
        display: block
        position: absolute
        width: 1rem
        height: 1rem
        background-color: $color-white
        outline-offset: .4rem
        outline: .3rem solid $color-brown-light
        border-radius: 100%
        top: 0.4rem
        left: -2.6rem

