/* Меняем единицу rem с 16px на 10px и выставляем в % для адаптивности */    
html
    font-size: 62.5%

*, ::before, ::after
    margin: 0
    padding: 0
    box-sizing: border-box

body
    padding: 5rem
    background-color: $color-white

.container
    background-color: $color-grey-light